*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
*.ptb
*.fdb_latexmk
thesis.tex
functorrep.tex
oneparam.tex
multiparam.tex
multirec.tex
multirecabstract.tex
multirecparams.tex
benchmark.tex
introduction.tex
